/*
--jet: #333232ff;
--ash-gray: #c6d8d3ff;
--selective-yellow: #ffb400ff;
--rosy-brown: #c99da3ff;
--zomp: #639a88ff;
font-style = Jacques Francois
*/

body {
    background-color: #333232ff;
    font-family: 'Jacques Francois', serif;
}

header {
    background-color: #333232ff;
    color: #ffb400ff;
}

.logo_pic {
   clip-path: circle();
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}