/*
--jet: #333232ff;
--ash-gray: #c6d8d3ff;
--selective-yellow: #ffb400ff;
--rosy-brown: #c99da3ff;
--zomp: #639a88ff;
font-style = Jacques Francois
*/
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #333232;
    --secondary-color: #FFFFFF;
    --accent-color: #ffb400;
}

body {
    background-color: var(--primary-color);
    font-family: system-ui;
    color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.logo_pic {
   clip-path: circle();
   margin-left: 50px;
}

.offscreenMenu {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.offscreenMenu.active{
    right: 0;
}
.hamburgerMenu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    margin-right: 60px;
}
.hamburgerMenu span{
    height: 5px;
    width: 100%;
    background-color: #ffb400ff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.hamburgerMenu span:nth-child(1){
    top: 25%;
}
.hamburgerMenu span:nth-child(3){
    top: 75%;
}
.hamburgerMenu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburgerMenu.active span:nth-child(2){
    opacity: 0;
}
.hamburgerMenu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

nav {
    padding: 1rem;
    display: flex;
    background-color: var(--primary-color);
}
nav ul{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: var(--accent-color);
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.mainContainer p {
    width: 500px;
}